@import "tailwindcss";

/* Add this CSS to your global CSS file or in a <style> tag */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* 
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
} */

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 0.8s steps(40, end) 1s 1 normal both,
    blinkTextCursor 800ms steps(40, end) infinite normal;
}

.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-2 {
  animation-delay: 0.8s;
}

.animation-delay-4 {
  animation-delay: 1.6s;
}

.animation-delay-11 {
  animation-delay: 0s;
}

.animation-delay-12 {
  animation-delay: 2s;
}

.animation-delay-13 {
  animation-delay: 4s;
}

.animation-delay-14 {
  animation-delay: 6s;
}
